@import 'resources/sizes.less';
@import 'resources/mixins.less';

.max-width-tablet {
  max-width:@size-tablet;
}

.hide-up-tablet {
  .upTo(@size-tablet, {
    display:none;
  });
}

.hide-down-tablet {
  .downTo((@size-tablet + 1px), {
    display:none;
  });
}

.content {
  max-width:750px;
  margin:0 auto;
  font-size:1.2em;
}
