.row-w{
	display:flex;
	flex-flow:row wrap;
}
.col-w {
	display:flex;
	flex-flow:column wrap;
}
.row-nw {
	display:flex;
	flex-flow:row nowrap;
}
.col-nw {
	display:flex;
	flex-flow:column nowrap;
}

.ai-center {
	align-items:center;
}
.ai-start {
	align-items:flex-start;
}
.ai-end {
	align-items:flex-end;
}
.ai-stretch {
	align-items:stretch;
}
.ai-base {
	align-items:baseline;
}

.jc-center {
	justify-content:center;
}
.jc-start {
	justify-content:flex-start;
}
.jc-end {
	justify-content:flex-end;
}
.jc-between {
	justify-content:space-between;
}
.jc-around {
	justify-content:space-around;
}

.ac-start {
	align-content:flex-start;
}
.ac-end {
	align-content:flex-end;
}
.ac-center {
	align-content:center;
}
.ac-stretch {
	align-content:stretch;
}
.ac-between {
	align-content:space-between;
}
.ac-around {
	align-content:space-around
}

.f-aside {
	flex:1 1;
}
.f-big {
	flex:2 1;
}
.f-little {
	flex:1 1;
}

.panel-footer {
	align-self:flex-end;
}

.top-nav {
  display:flex;
  flex-flow: row nowrap;
  align-items: center;
}

.top-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.top-nav ul li {
    float: left;
}

.top-nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top-nav ul li a:hover {
    background-color: #111;
}
